<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Crimebuster</h2>
    <p>
    Real World Face Recognition & Authentication That Works.</a>.
    </p>
    <p>
     Introducing FaceTec... The world’s most advanced face recognition platform.
      We enable any camera to recognize faces just like humans do.
      Authenticate, Identify, and Analyze people with instant, accurate results.
    </p>
    <p>
   <!--  If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p> -->
    <p>
     Face Recognition has worked for a long time -  in theory.  But slow algorithms, inadequate cameras, and antiquated systems made it unusable in the real world.  Until now.  FaceTec's Multi-Algorithmic On-Device & Cloud Platform provides Face authentication, identification, and analysis with speed, accuracy, and versatility only previously dreamed of.
    </p>
  </ion-content>
</ion-view>
